<header class="global_header">
  <div class="global_inner">
    <div class="global_nav">
      <div class="global_nav__left">
      </div>
      <% if user_signed_in? %>
      <%# ログイン時 %>
        <div class="global_nav__right">
          <%= link_to "ようこそ、#{current_user.nickname}さん",  user_path(current_user.id), class: :global_nav__btn %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :global_nav__logout %>
        </div>
      <%# // ログイン時 %>
      <% else %>
      <%# ログアウト時%>
        <div class="global_nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :global_nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :global_nav__btn %>
        </div>
      <% end %>
      <%# ログアウト時 %>
    </div>
  </div>
</header>