<header class="second_header">
  <div class="nav">
    <div class="nav_left">
      <%= link_to "The Brewers", root_path, class: :nav_logo %>
    </div>
    <div class="nav_center">
    </div>
    <div class="nav_right"> 
      <%= link_to "Myリスト", bookmark_list_users_path, class: :mylist%>
      <%= link_to "投稿する", new_article_path, class: :new_post %>
      <%= link_to "下書きを編集する", confirm_articles_path, class: :draft_post %>
    </div>
  <div>
</header>