<%= render "devise/shared/global_header"%>
<%= render "devise/shared/second_half_header"%>
<div class="draft_wrapper">
  <% @articles.each do |article| %>
    <ul class="draft">
      <li><%= article.title %></li>
      <li><%= link_to "更新する", edit_article_path(article), class:"update"%></li>
    </ul>
  <% end %>
</div>