<%= render "devise/shared/global_header"%>
<%= render "devise/shared/second_header"%>
<%= render "devise/shared/done_flash_message"%>

<div class="card__wrapper">
  <%= render partial: "article", collection: @articles %>
</div>

