/* グローバルヘッダー */

.global_header {
  background-color: #f0ebeb;
  margin-bottom: 48px;
  padding: 3px 0;

}
.global_inner {
  width: 1024px;
  margin: 0 auto;
}
.global_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.global_logo {
  font-size: large;
  text-decoration: none;
  color: #333333;
  font-style: bold;    
}
.global_nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #333333;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}
.global_nav__btn:hover{
  color: #fff;
  background: #ce7d00;
}

.global_nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.global_nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り*/
.field {
  margin: 10px 0;
}

