/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}


/* グローバルヘッダー */

.global_header {
  background-color: #f0ece2;
  padding: 3px 0;
}
.global_inner {
  width: 1024px;
  margin: 0 auto;
}
.global_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.global_logo {
  font-size: large;
  text-decoration: none;
  color: #333333;
  font-style: bold;    
}
.global_nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #333333;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
}
.global_nav__btn:hover{
  opacity: 0.5;
}

.global_nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #333333;
  text-decoration: none;
  user-select: none;
}
.global_nav__logout:hover{
  opacity: 0.5;
}

/* セカンドヘッダー */

.second_header {
  background-color: #dfd3c3;
  margin-bottom: 30px;
  padding: 3px 0;
}
.nav {
  margin: 0 auto;
  width: 1024px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left{
  width: 33.3%;
}

.nav_logo {
  text-decoration: none;
  font-size: 40px;
  color: #181818;
  font-style: bold; 
  font-family: Arial, Helvetica, sans-serif;   
} 

.nav_center {
  width: 33.3%;
  margin-top: 18px;
}

.search_input {
  width: 18vw;
  height: 5vh;
  
}
.search_btn {
  width: 5vh;
  height: 5vh;
  cursor: pointer; 
}

.search_form {
  display: flex;
}

.search_hint {
  font-size: 12px;
}

.search_btn:hover {
  color: #fff;
  background-color: #596e79;
}

.nav_right {
  width: 33.3%;
}

.mylist, .new_post {
  font-size: 15px;
  padding: 15px 20px;
  border: #c7b198, 1px, solid;
  background-color: #c7b198;
}

.mylist:hover, .new_post:hover {
  opacity: 0.5;
}

/* devise周り */
.devise {
  padding: 30px 20px 10px;
}

.devise_title {
  padding: 20px 10px;
  font-style: initial;
}

.root_link {
  margin: 40px 0 10px;
  display: block; 
}

.root_link:hover {
  color: #c7b198;
}

/* フォーム周り*/

.post {
  padding: 30px 0 10px 10px;
}
 
.field{
  margin: 30px 0;
  width: 30vw;
  height: 7vh;
}

.actions{
  margin-top: 60px;
}

input, textarea {
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

input, textarea {
  border: 1px solid #dfd3c3;
	outline: none;
  box-shadow: 0 0 5px 1px rgba218,60,65;
}

.check_box {
  overflow: hidden;
	width: 90%;
}

.check_box select {
  width: 20%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
  border: solid 1px #dfd3c3;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
} 

.check_box select::-ms-expand {
  display: none;
}

.check_box .box {
  position: relative;
	border: 1px solid #dfd3c3;
	border-radius: 2px;
	background: #dfd3c3;
}

.check_box .box::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #dfd3c3;
	pointer-events: none;
}

.extra_margin {
  margin-top:  50px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #dfd3c3;
  border: 1px #dfd3c3 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/*  記事一覧 */
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card {
  width: calc((100% - 50px) / 4);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 記事詳細 */
.article_info {
  margin: 10px 40px;
}

.upper_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px auto;
}

.upper_head_left {
  display: flex;
  margin-left: 10px;
}

.title {
  margin: 10px 15px;
  font-size: 23px;
  font-style: bold;
}

.nickname, .nickname_ho {
  margin: 20px 3px 0 0;
  font-size: 14px
}

.nickname_ho:hover {
  text-decoration: underline;
}

.upper_head_right {
  margin-right: 30px;
}

.edit_button, .destroy_button {
  font-size: 15px;
  padding: 8px 13px;
  margin: 0 2px;
  border: #c7b198, 1px, solid;
  background-color: #c7b198;
}

.edit_button:hover, .destroy_button:hover {
  opacity: 0.5;
}

.middle_head {
  margin: 10px 40px 20px;
}

.details {
  font-style: bold;
  font-size: 19px;
  margin: 5px 0;
}

.lower_head {
  margin: 5px 0 20px 0;
}

.reciepe {
  font-size: 19px;
}

.reciepe_box {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 60px 20px 20px;
}

.middle_body {
  margin: 5px 20px 20px 0;
}

.comment_info {
  margin: 30px 40px 20px;
}

.delete_fav, .save_fav {
  border: 1px solid #181818;
  margin: 30px 0 10px 0;
}


/* ユーザー詳細 */
.users {
  padding: 10px 20px 10px;
}

.user {
  margin: 10px 0 20px;
}

.user_name {
  text-shadow:1px 0 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,0 -1px 0 #fff,3px 3px 0 #fff;
  color: #c7b198;
}

.user_info {
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}

.info_box {
  text-align: left;
  font-weight: bold;
  background: #c7b198;
  border-collapse: collapse;  
  width: 30%;
  padding: 6px;
  margin-top: 10px;
}
.user_detail {
  text-align: left;
  border-collapse: collapse;
  background-color: #dfd3c3;
  width: 70%;
  padding: 8px 4px;
} 

.edit__button {
  height: 7vh;
  padding: 20px 15px;
  font-size: 12px;
  background-color: #dfd3c3;
  margin-right: 20px;
  box-sizing: border-box;
}

/* フッター */
.global_footer {
  margin: 50px 0 10px;
  text-align: center;
}

